<style>
    #acerc {
        background-color: #bb1a1a;
        border: 2px outset black;
        margin-top:10px;
    }

</style>

<div id="acerc" class="container" style="color:#ffffff">
    <h2 class="container text-center">Acerca de</h2><br>
    <div class="row center-block text-center">
        <div class="col-sm-4 pull-left">
            <h3>Mision</h3>
            <p>
                Ofrecer a nuestros clientes productos de calidad y soluciones, entendiendo que el éxito de ambos está muy relacionado, abarcando las actividades del alcance de ensamblado.
            </p>
        </div>
        <img src="~/Img/MyV.png" class="pull-left">
        <div class="col-sm-4 pull-right">
            <h3>Vision</h3>
            <p>
                Ser líderes en el mercado nacional siendo una empresa segura, solida, sostenible.
            </p>
        </div>
    </div>
</div>

