<style>
    #cont {
	margin-top:7px;
        background-color: #e45353;
    }
</style>
<div id="cont" class="container" style="color:#ffffff">
    <h2>Administracion</h2><br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>@Html.ActionLink("Proveedores", "Index", "proveedores")</th>
                <th>@Html.ActionLink("Productos","Index","productos")</th>
                <th>@Html.ActionLink("Categorias","Index","categorias")</th>
            </tr>
        </thead>
    </table>
</div>