<style>
    #cont {
	margin-top:7px;
        background-color: #e45353;
    }   
</style>
<div id="cont" class="container" style="color:#ffffff">
    <h2>Ventas</h2><br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>@Html.ActionLink("Clientes", "Index", "clientes")</th>
                <th>@Html.ActionLink("Ventas", "Index", "ventas")</th>
            </tr>
        </thead>
    </table>
</div>